:root {
    --primary:#b6895b;

    --bg: #186b8a;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color:rgba(58, 55, 55, 0.8);
    border-bottom: 1px solid #643609;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:9999;
  }

  .navbar .navbar-logo {
    font-size:2rem;
    font-weight:700;
    color: #fff;
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color:#186b8a;
  }

  .hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  